@import "~bootstrap/scss/bootstrap";

@import "colors";
@import "fonts";
@import "typography";


html, body {
  font-family: Montserrat, sans-serif;
  background-color: $lighter;
  font-size: 10px;
}
